---
import yaml from 'js-yaml'

import Default from '~/layouts/Default.astro'
import DataLoader from '~/components/DataLoader.astro'
import data2023Yml from '~/data/2023.yml?raw'

const data2023 = yaml.load(data2023Yml) as any

const title = '2023'
---

<Default
	title={title}
>

	<h1># 2023</h1>
	<p>Portal to projects useful for the 2023 year group</p>
	<p class="small text-light">
		<i class="icon icon-[fa-brands--discord] icon-fw"></i> = Discord server
	</p>

	<DataLoader data={data2023} />

</Default>
