---
import yaml from 'js-yaml'

import Default from '~/layouts/Default.astro'
import DataLoader from '~/components/DataLoader.astro'
import data2027Yml from '~/data/2027.yml?raw'

const data2027 = yaml.load(data2027Yml) as any

const title = '2027'
---

<Default
	title={title}
>

	<h1># 2027</h1>
	<p>Portal to projects useful for the 2027 year group</p>
	<p class="small text-light">
		<i class="icon icon-[fa-brands--discord] icon-fw"></i> = Discord server
	</p>

	<DataLoader data={data2027} />

</Default>
