---
import yaml from 'js-yaml'

import Default from '~/layouts/Default.astro'
import DataLoader from '~/components/DataLoader.astro'
import data2028Yml from '~/data/2028.yml?raw'

const data2028 = yaml.load(data2028Yml) as any

const title = '2028'
---

<Default
	title={title}
>

	<h1># 2028</h1>
	<p>Portal to projects useful for the 2028 year group</p>
	<p class="small text-light">
		<i class="fab fa-discord fa-fw"></i> = Discord server
	</p>

	<DataLoader data={data2028} />

</Default>
