---
import Default from '~/layouts/Default.astro'

const title = '404 Not Found'
---

<Default
	title={title}
>

	<h1>EPITA.it</h1>
	<h2 class="text-warning">404 Not Found</h2>

	<a href="/" class="btn btn-primary btn-sm">
		<span class="icon icon-[fa6-solid--home] icon-fw"></span> Retour à l'accueil
	</a>

</Default>
