---
import yaml from 'js-yaml'

import Default from '~/layouts/Default.astro'
import DataLoader from '~/components/DataLoader.astro'
import archiveYml from '~/data/archive.yml?raw'

const archive = yaml.load(archiveYml) as any

const title = 'Archive'
---

<Default
	title={title}
>

	<h1>Archive</h1>
	<p>Portal to old archive, archived services and projects.</p>
	<p class="small text-light">
		<span class="icon icon-[fa6-solid--user-friends] icon-fw"></span> = Community resource, not affiliated with EPITA.
	</p>

	<DataLoader data={archive} />

</Default>
