---
import yaml from 'js-yaml'

import Default from '~/layouts/Default.astro'
import DataLoader from '~/components/DataLoader.astro'
import debugproYml from '~/data/debugpro.yml?raw'

const debugpro = yaml.load(debugproYml) as any

const title = 'Debug-Pro'
---

<Default
	title={title}
>

	<h1>Debug-Pro</h1>
	<p>Portal to deprecated Debug-Pro websites for Prepa (Archi & Prog).</p>

	<DataLoader data={debugpro} />

</Default>
