# -- Generic rules:

# Environment files
.env.local
.env.*.local

# Temporary files
._*
*~
*.cache
*.log*
*.swp

# System files
.DS_Store
Thumbs.db

# -- Application rules:

# Node
node_modules/

# Astro
.astro/
dist/

# Jekyll
_site/
.jekyll-cache/

# -- Specific to dockerignore:

# Docker configuration files
Dockerfile
docker-compose.yml
docker-compose.*.yml

# Dotfiles
.editorconfig
.gitattributes
.gitignore
.gitmodules
