# -- Generic rules:

# Environment files
.env*.local

# Temporary files
._*
*.cache
*.log*
*.swp
*~

# System files
.DS_Store
Thumbs.db

# -- Editor rules:

# VS Code
.vscode/**/*
!.vscode/extensions.json

# Jetbrains
.idea/

# Other
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# -- Application rules:

# Node.js
node_modules/
dist/

# Astro
.astro/
.vite/

# Application environment files
*/**/.env*

# -- Specific to gitignore:

# Build configuration files (allow)
!Dockerfile
!Makefile
