# Services definition override for development

services:

  app:
    # Extend
    extends:
      file: ./docker-compose.yml
      service: app
    # Build override
    image: ${IMAGES_PREFIX:-app}-dev:${IMAGES_TAG:-latest}
    build:
      target: app_dev
      args:
        UID: ${DOCKER_UID:-${UID:-1000}}
    # Deploy override
    user: ${DOCKER_UID:-${UID:-1000}}
    develop:
      watch:
        # Docker image
        - action: rebuild
          path: ./app/Dockerfile
        # Application build files
        - action: rebuild
          path: ./app/app/pnpm-lock.yaml
        # Application source code
        - action: sync
          path: ./app/app
          target: /app
