<div class="tiles-grid">
	{% for item in grid %}
		{% if item.items %}
			<div class="{{ item.class }}">
				{% for subitem in item.items %}
					<a href="{{ subitem.href }}" class="{{ subitem.class }}" style="{% for rule in subitem.style %}{{ rule }}{% unless forloop.last %}; {% endunless %}{% endfor %}">
						<span class="branding-bar">{{ subitem.name }}</span>
					</a>
				{% endfor %}
			</div>
		{% else %}
			<a href="{{ item.href }}" class="{{ item.class }}" style="{% for rule in item.style %}{{ rule }}{% unless forloop.last %}; {% endunless %}{% endfor %}">
				<span class="branding-bar">{{ item.name }}</span>
			</a>
		{% endif %}
	{% endfor %}
</div>