<nav id="navbar">
	<a href="{{ '/' | relative_url }}" class="btn btn-secondary btn-sm">EPITA.it</a>
	<a href="{{ '/community' | relative_url }}" class="btn btn-secondary btn-sm">Communauté</a>
	<a href="{{ '/2021' | relative_url }}" class="btn btn-secondary btn-sm">2021</a>
	<a href="{{ '/2022' | relative_url }}" class="btn btn-secondary btn-sm">2022</a>
	<a href="{{ '/2023' | relative_url }}" class="btn btn-secondary btn-sm">2023</a>
	<a href="{{ '/2024' | relative_url }}" class="btn btn-secondary btn-sm">2024</a>
</nav>