---
import { githubRepositoryUrl } from '~/config'
---

<div id="footer">
	<div class="container">
		<p>
			Made with <span class="icon icon-[fa6-solid--heart] icon-fw text-danger"></span> by EPITA students.
			<a href={`${githubRepositoryUrl}#license`}>
				<img alt="CC BY-NC 4.0" src="https://mirrors.creativecommons.org/presskit/buttons/80x15/svg/by-nc.svg" />
			</a> <br />
			We use cookies for analytics purposes.
		</p>
		<ul>
			<li><a href={githubRepositoryUrl} class="btn btn-primary btn-sm">Contribuez sur Github</a></li>
			<li><a href="https://epidocs.eu/" class="btn btn-info btn-sm">Géré par Epidocs</a></li>
			<!-- <li><a href="/tos" class="btn btn-primary btn-sm">Conditions générales</a></li> -->
		</ul>
	</div>
</div>

<style lang="scss">
#footer {
	background: rgba(0, 0, 0, .1);
	padding: 20px;
	flex-shrink: 0;
}
@media (min-width: 992px) {
	#footer .container {
		max-width: 960px;
	}
}
#footer ul { padding: 0 }
#footer ul > li { display: inline-block }
#footer ul > li + li { margin-left: 5px }
#footer ul > li + li:before { content: '|'; margin-right: 10px }
</style>
