---
import '@fontsource/roboto/400.css'
import '@fontsource/roboto/500.css'
import '@fontsource/roboto/700.css'
import jqueryJs from 'jquery/dist/jquery.slim.min.js?url'
import popperJs from '@popperjs/core/dist/umd/popper.min.js?url'
import '~/styles/tiles.css'
import '~/styles/style.css'
import scriptJs from '~/scripts/script.js?url'

import Layout from '~/layouts/Layout.astro'
import type { Props as BaseProps } from '~/layouts/Layout.astro'
import Head from '../components/Head.astro'
import Modal from '../components/Modal.astro'
import Navbar from '../components/Navbar.astro'
import Newsline from '../components/Newsline.astro'
import Footer from '~/components/Footer.astro'

export interface Props extends BaseProps
{
	noScripts?: boolean
	newsline?: boolean
	textalignleft?: boolean
}

const {
	noScripts = false,
	newsline = false,
	textalignleft = false,
} = Astro.props

const baseProps: BaseProps = {
	...Astro.props,
}
---

<Layout {...baseProps}>

	<Fragment name="head">
		<Head />
	</Fragment>

	<Modal />

	<Navbar />

	<Newsline newsline={newsline} />

	<div id="main" class={textalignleft ? 'text-left' : undefined}>
		<div class="container">

			<slot />

		</div>
	</div>

	<Footer />

</Layout>

{!noScripts && (
	<script src={jqueryJs}></script>
	<script src={popperJs}></script>
	<script src={scriptJs}></script>
)}
