# -- Generic rules:

# Environment files
**/.env*.local*

# Temporary files
**/._*
**/*.cache
**/*.log*
**/*.swp
**/*~

# System files
**/.DS_Store
**/Thumbs.db

# -- Editor rules:

# VS Code
**/.vscode/

# Jetbrains
**/.idea/

# Other
**/*.njsproj
**/*.ntvs*
**/*.sln
**/*.suo
**/*.sw?

# -- Application rules:

# Node.js
**/.pnpm-store/
**/dist/
**/node_modules/

# Astro
**/.astro/
**/.vite/

# Playwright
**/blob-report/
**/playwright-report/
**/playwright/.cache/
**/test-results/

# -- Service rules:

# All services
data/
**/.env*

# -- Docker rules:

# Docker configuration files
Dockerfile
docker-compose*.yml
