html, body {
	height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
	background: #204060;
	display: flex;
	margin: 0;
	padding: 0;
	flex-direction: column;
	overflow-x: hidden;
	color: #fff;
}

a { color: #50a0f0 }
a:hover { color: #4080c0 }

#navbar {
	margin-bottom: 1rem;
}

#main {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	padding: 20px 0;
	flex: 1 0;
}
#main.smallscreen {
	text-align: center;
}
#main h1 { font-size: 4em; font-weight: bold }
#main.smallscreen h1 { font-size: 3em }
#main.smallscreen .tiles-grid {
	width: fit-content;
	margin: 0 auto;
	text-align: initial;
}

#footer {
	background: rgba(0, 0, 0, .1);
	padding: 20px;
	flex-shrink: 0;
}
@media (min-width: 992px) {
	#footer .container {
		max-width: 960px;
	}
}
#footer ul { padding: 0 }
#footer ul > li { display: inline-block }
#footer ul > li + li { margin-left: 5px }
#footer ul > li + li:before { content: "|"; margin-right: 10px }
