html {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #204060;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	color: #fff;
	display: flex;
	flex-direction: column;
	height: 100%;
}

#navbar {
	margin-bottom: 1rem;
}

#main {
	max-width: 960px;
	min-width: 66%;
	margin: 0 auto;
	padding: 20px 0;
	flex: 1 0 auto;
}

#main h1 {
	font-size: 4em;
	font-weight: bold;
}

#footer {
	background: rgba(0, 0, 0, .1);
	padding: 20px;
	flex-shrink: 0;
}
@media (min-width: 992px) {
	#footer .container {
		max-width: 960px;
	}
}
#footer ul { padding: 0 }
#footer ul > li { display: inline-block }
#footer ul > li + li { margin-left: 5px }
#footer ul > li + li:before { content: "|"; margin-right: 10px; }
