---
import Layout from '~/layouts/Layout.astro'

const title = '2021'
---

<Layout
	title={title}
>

	<h1># 2021</h1>
	<p>Portal to projects useful for the 2021 year group</p>
	<p class="small text-light">
		<i class="fab fa-discord fa-fw"></i> = Discord server
	</p>

	<!-- {% include data-loader.html data = site.data.2021 %} -->

</Layout>
