---
import Default from '~/layouts/Default.astro'
import matibouxSvg from '~/assets/matiboux.svg?url'

const title = 'About'
---

<Default
	title={title}
	textalignleft={true}
>

	<h1>About EPITA.it</h1>
	<p>EPITA.it is a web portal containing links to services and projects related to EPITA and to its student life.</p>
	<p>This web portal is a unofficial project, managed by Epidocs.</p>

	<h2>Epidocs</h2>
	<p>To learn more about Epidocs, please visit <a href="https://epidocs.eu/">epidocs.eu</a>.</p>

	<h2>Team</h2>
	<div class="media">
		<img src={matibouxSvg} class="align-self-start mr-3" alt="Matiboux" width="90px" />
		<div class="media-body">
			<h5>Matiboux <small>– Mathieu Guérin</small></h5>
			<p>I'm an EPITA student and developer. I work on EPITA.it and other projects.</p>
			<p>
				<a href="mailto:mathieu.guerin@epita.fr" class="btn btn-dark btn-sm mb-1"><span class="icon icon-[fa6-solid--envelope] icon-fw"></span> Email @epita.fr</a>
				<a href="https://github.com/matiboux" class="btn btn-dark btn-sm mb-1"><i class="icon icon-[fa-brands--github] icon-fw"></i> Github</a>
				<a href="https://matiboux.me/" class="btn btn-dark btn-sm mb-1"><span class="icon icon-[fa6-solid--globe] icon-fw"></span> Matiboux.me</a>
			</p>
		</div>
	</div>
	<a href="{{ site.github.repository_url }}/graphs/contributors" class="btn btn-info btn-sm"><i class="icon icon-[fa-brands--github] icon-fw"></i> See all contributors to EPITA.it</a>

</Default>
