---
import Default from '~/layouts/Default.astro'

const title = 'Archive'
---

<Default
	title={title}
>

	<h1>Archive</h1>
	<p>Portal to old links, archived services and projects.</p>
	<p class="small text-light">
		<i class="fas fa-user-friends fa-fw"></i> = Community resource, not affiliated with EPITA.
	</p>

	<!-- {% include data-loader.html data = site.data.archive %} -->

</Default>
