---
import Layout from '~/layouts/Layout.astro'

const title = 'Community'
---

<Layout
	title={title}
>

	<h1>Community & Clubs</h1>
	<p>Portal to community groups and clubs related to EPITA</p>
	<p class="small text-light">
		<i class="fab fa-facebook fa-fw"></i> = Facebook page <br />
		<i class="fab fa-discord fa-fw"></i> = Discord server
	</p>

	<!-- {% include data-loader.html data = site.data.community %} -->

</Layout>
