---
import Default from '~/layouts/Default.astro'

const title = 'Debug-Pro'
---

<Default
	title={title}
>

	<h1>Debug-Pro</h1>
	<p>Portal to Debug-Pro websites of each promotion (Archi & Prog)</p>

	<!-- {% include data-loader.html data = site.data.debugpro %} -->

</Default>
