---
import Layout from '~/layouts/Layout.astro'

const title = 'Documentation'
---

<Layout
	title={title}
>

	<h1>Documentation & Resources</h1>
	<p>Portal to documentation, guides and useful resources related to EPITA.</p>
	<p class="small text-light"><i class="fas fa-star fa-fw"></i> = Official resource, from EPITA</p>

	<!-- {% include data-loader.html data = site.data.docs %} -->

</Layout>
