---
import Default from '~/layouts/Default.astro'
---

<Default>
	<!-- newsline={true} -->

	<h1>EPITA.it</h1>
	<p>Portal to services and projects related to EPITA.</p>

	<!-- {% include data-loader.html data = site.data.links %} -->

</Default>
