---
import Default from '~/layouts/Default.astro'

const title = 'Legal'
---

<Default
	title={title}
	textalignleft={true}
>

	<h1>Legal</h1>
	<p>EPITA.it is a unofficial project, managed by <a href="https://epidocs.eu/">Epidocs</a>.</p>
	<p>The service is administrated by <a href="https://matiboux.me/">Matiboux</a>.</p>

	<h2>Cookie usage</h2>
	<p>By using EPITA.it, you allow us to create and use cookies for analytics purposes.</p>

	<h2>Data usage</h2>
	<p>The data stored by EPITA.it for each service we're offering a link to is restricted to the minimum information:</p>
	<ul>
		<li>The name of the service.</li>
		<li>The URL for accessing the service.</li>
		<li>The URLs to additional ressources, like icons or backgrounds.</li>
	</ul>
	<p>This data is required for the service to operate as intended.</p>

</Default>
