<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	{% if site.title %}<meta name="title" content="{{ site.title }}" />{% endif %}
	{% if site.description %}<meta name="description" content="{{ site.description }}" />{% endif %}
	{% if site.keywords %}<meta name="keywords" content="{{ site.keywords }}" />{% endif %}
	{% if site.author %}<meta name="author" content="{{ site.author }}" />{% endif %}
	<link rel="shortcut icon" type="image/png" href="{{ '/assets/logo.png?v=' | append: site.github.build_revision | relative_url }}">
    
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" />
	<link rel="stylesheet" href="{{ '/assets/css/tiles.css?v=' | append: site.github.build_revision | relative_url }}" />
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" />
	
	<title>
		{{ site.title }}
		{% if page.title %}– {{ page.title }}{% endif %}
	</title>
    
</head>
<body>

	{{ content }}
	
	<div id="footer">
		<div class="container">
			<p>Made with <i class="fas fa-heart fa-fw text-danger"></i> by an EPITA student.</p>
			<ul>
				<li><a href="{{ site.github.repository_url }}" class="btn btn-primary btn-sm">Contribuez sur Github</a></li>
				<li><a href="https://epidocs.eu/" class="btn btn-info btn-sm">Géré par Epidocs</a></li>
				<!-- <li><a href="{{ 'tos.html' | relative_url }}" class="btn btn-primary btn-sm">Conditions générales</a></li> -->
			</ul>
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
	<script src="{{ '/assets/js/script.js?v=' | append: site.github.build_revision | relative_url }}"></script>

</body>
</html>
