<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	{% if site.title %}<meta name="title" content="{{ site.title }}" />{% endif %}
	{% if site.description %}<meta name="description" content="{{ site.description }}" />{% endif %}
	{% if site.keywords %}<meta name="keywords" content="{{ site.keywords }}" />{% endif %}
	{% if site.author %}<meta name="author" content="{{ site.author }}" />{% endif %}
	
	<link rel="icon" sizes="48x48" href="{{ '/assets/icon-48.png?v=' | append: site.github.build_revision | relative_url }}" />
	<link rel="icon" sizes="192x192" href="{{ '/assets/icon-192.png?v=' | append: site.github.build_revision | relative_url }}" />
	<link rel="icon" sizes="512x512" href="{{ '/assets/icon-512.png?v=' | append: site.github.build_revision | relative_url }}" />
	<link rel="apple-touch-icon" href="{{ '/assets/apple-icon.png?v=' | append: site.github.build_revision | relative_url }}" />
	
	<link rel="manifest" href="{{ 'manifest.json' | relative_url }}" />
	<meta name="theme-color" content="#183048" />
    
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" />
	<link rel="stylesheet" href="{{ '/assets/css/tiles.css?v=' | append: site.github.build_revision | relative_url }}" />
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" />
	
	<title>
		{{ site.title }}
		{% if page.title %}– {{ page.title }}{% endif %}
	</title>
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140860210-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-140860210-2');
	</script>
    
</head>
<body>

	<nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
		<div class="container">
			<a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav mr-auto">
					{% for item in site.data.navbar %}
						<a class="nav-item nav-link" href="{{ item.href | relative_url }}">{{ item.title }}</a>
					{% endfor %}
				</div>
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="{{ site.github.repository_url }}"><i class="fas fa-code-branch fa-fw"></i> Github</a>
					<div class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarPlusDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-plus fa-fw"></i></a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarPlusDropdown">
							<a class="dropdown-item" href="{{ 'about' | relative_url }}">About</a>
							<a class="dropdown-item" href="{{ 'legal' | relative_url }}">Legal</a>
							<a class="dropdown-item" href="https://epidocs.eu/">Epidocs</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
	
	<div id="main"{% if page.textalignleft %} class="text-left"{% endif %}>
		<div class="container">
		
			{{ content }}
		
		</div>
	</div>
	
	<div id="footer">
		<div class="container">
			<p>Made with <i class="fas fa-heart fa-fw text-danger"></i> by EPITA students. <br />
			We use cookies for analytics purposes.</p>
			<ul>
				<li><a href="{{ site.github.repository_url }}" class="btn btn-primary btn-sm">Contribuez sur Github</a></li>
				<li><a href="https://epidocs.eu/" class="btn btn-info btn-sm">Géré par Epidocs</a></li>
				<!-- <li><a href="{{ 'tos.html' | relative_url }}" class="btn btn-primary btn-sm">Conditions générales</a></li> -->
			</ul>
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="{{ '/assets/js/script.js?v=' | append: site.github.build_revision | relative_url }}"></script>

</body>
</html>
